set disassembly-flavor intel
set pagination off
set script-extension strict

set breakpoint auto-hw on

set logging file run/gdb.log
set logging enabled on

add-symbol-file .build/debug/flat/boot/efi/boot/bootx64.efi
add-symbol-file .build/debug/flat/system/sys/kernel

source tools/pent_dbg/pent_dbg.py

target remote localhost:1234